@tailwind base;
@tailwind components;
@tailwind utilities;

.m-icon-round {
    font-family: "Material Icons", "MaterialIconsRound-Regular";
    font-weight: 100;
    font-size: 28;
}

Label,
Label span{
    color: white;
    font-family: "Inter", "Inter-Regular";
}


.text-md{
    font-size: 16;
}